<!DOCTYPE html>
<html>
    <head>
        <title>Tic Tac Toe</title>
        <style>
            table {
                border-collapse: collapse;
                margin-left: auto;
                margin-right:auto;
            }
            td {
                border: 1px solid black;
                width: 150px;
                height: 150px;
                font-size: 30px;
                text-align: center;
            }
            td > a {
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        <h1 style="text-align: center">Tic Tac Toe<h1>
        <h2 style="text-align: center">
            Status: {{ message }}
        </h2>
        <table>
            {% for i in range(3) %}
                <tr>
                    {% for j in range(3) %}
                        <td>
                            {% if game[i][j] %}
                                {{ game[i][j] }}
                            {% else %}
                                {% if message == "In Play" %}
                                    <a href="{{ url_for('play', row=i, col=j) }}">Play {{ turn }} here.</a>
                                {% else %}
                                    -
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <div style="text-align: center; margin: 10px">
            <form action="/">
                <input type="submit" value="reset">
            </from>
        </div>
    </body>
</html>
